<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>New Post</title>
    <!-- <script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script> -->
  </head>
  <body class="bg-gray-100">
    <div class="h-screen flex items-center justify-center mt-4">
      <form
        class="bg-white rounded shadow-md w-3/4 mt-5 p-8"
        action="/post"
        method="POST"
        enctype="multipart/form-data"
      >
        <h2 class="text-6xl text-center font-semibold mt-5">New Post</h2>

        <!-- Title Field -->
        <div class="mb-4">
          <label for="title" class="block text-sm font-medium text-gray-600"
            >Title Field</label
          >
          <input
            type="text"
            id="title"
            name="title"
            class="mt-1 p-2 w-full border rounded-md"
          />
        </div>

        <!-- Image Field -->
        <div class="mb-4">
          <label for="image" class="block text-sm font-medium text-gray-600"
            >Image</label
          >
          <input
            type="file"
            id="image"
            name="image"
            class="mt-1 p-2 w-full border rounded-md"
          />
        </div>
        <div class="mb-4">
          <label for="description"> Description: </label> <br />
          <textarea
            name="description"
            rows="7"
            id="description"
            cols="80"
            class="mt-1 p-2 w-full border rounded-md"
          ></textarea>
        </div>

        <!-- Description Field (Rich Text Editor) -->

        <!-- Categories Field -->
        <div class="mb-4">
          <label
            for="categories"
            class="block text-sm font-medium text-gray-600"
            >Categories</label
          >
          <select
            id="categories"
            name="category"
            class="mt-1 p-2 w-3/4 border rounded-md"
          >
            <!-- Add your category options here -->
            <option value="News">News</option>
            <option value="Event">Event</option>
            <option value="Announcement">Announcement</option>
          </select>
        </div>

        <!-- Submit Button -->
        <div class="mt-6">
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded-md"
          >
            Add Post
          </button>
        </div>
      </form>
    </div>

    <!-- <script>
      CKEDITOR.replace("description");
    </script> -->
  </body>
</html>
