<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Figtree:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="pic2"></div>
      <img src="/images/logo.jpeg" alt="" />
      <h1>SignUp</h1>
      <form
        action="/register"
        method="POST"
        style="display: flex; flex-direction: column"
      >
        <div class="inp">
          <input type="fullname" id="email" name="username" />
          <label onclick="focusinp('usr')" for="fullname">fullName</label>
        </div>
        <br />
        <div class="inp">
          <input type="email" id="email" name="email" />
          <label onclick="focusinp('usr')" for="email">Email</label>
        </div>
        <br />
        <div class="inp">
          <input type="password" id="password" name="password" />
          <label onclick="focusinp('pass')" for="Password">Password</label>
        </div>
        <br />
        <div style="display: flex">
          <a href="">Forgot Password? - Support</a>
        </div>
        <br />
        <button type="submit">Login</button><br />
        <a onclick="myFunction()" href="/login">Already Registered? Login</a
        ><br />
      </form>
    </div>
    <!-- <div class="pic"></div> -->
    <!-- <img src="/images/main.jpeg" alt="" class="pic" /> -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const inputs = document.querySelectorAll(".inp input");

        inputs.forEach((input) => {
          input.addEventListener("input", function () {
            const label = this.nextElementSibling;
            label.classList.toggle("up", this.value.trim() !== "");
          });
        });
      });

      function focusinp(inp) {
        if (inp == "usr") {
          document.getElementById("username").focus();
        } else if (inp == "pass") {
          document.getElementById("password").focus();
        } else {
          document.getElementById("username").focus();
        }
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
