.schopage {
  display: grid;
  justify-content: center;
  align-items: center;
}

.container .content {
  display: grid;
  margin-left: 170px;
  /* padding-right:152px; */
  justify-content: space-evenly;
  align-items: center;
}

.header21 {
  color: #9a0002;
  text-align: center;
  font-family: Avenir LT Pro;
  font-size: 80px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 30px;
}

.gap {
  display: flex;
  padding: 10px;
}

.vline {
  border-left: 3px solid #fdb714;
  height: 57px;
  width: 0px;
  margin-top: 48px;
  margin-right: 17px;
  margin-left: 152px;
  margin-bottom: 0px;
}

.link {
  color: #fdb714;
  text-align: center;
  font-family: Avenir LT Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: lowercase;
  margin-bottom: 20px;
}

.para1 {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Avenir LT Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.para2 {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Avenir LT Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  margin-bottom: 20px;
}

.content2 {
  display: grid;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.secheader {
  text-align: center;
  color: #9a0002;
  text-align: center;
  font-family: Avenir LT Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 150px;
  margin-right: 150px;
  margin-bottom: 0;
}

.hr1 {
  margin-top: 0;
  margin-bottom: 30px;
  width: 1136px;
  height: 0px;
  flex-shrink: 0;
}

.olist {
  display: grid;
  justify-content: space-evenly;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.8);
  font-family: Avenir LT Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  text-transform: lowercase;
  margin-bottom: 10px;
}

.content3 {
  display: grid;
  margin-bottom: 20px;
}

.headerh3 {
  color: #9a0002;
  text-align: center;
  font-family: Avenir LT Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}

.hr2 {
  width: 1136px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #fdb714;
  margin-top: 0;
  margin-bottom: 10px;
}

.ulist {
  color: rgba(0, 0, 0, 0.8);
  font-family: Avenir LT Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  text-transform: lowercase;
  margin-top: 20px;
}

.headerh4 {
  color: #9a0002;
  text-align: center;
  font-family: Avenir LT Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}

.hr3 {
  width: 1136px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #fdb714;
  margin-top: 0;
  margin-bottom: 10px;
}

#paragraph {
  padding-left: 40px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Avenir LT Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: lowercase;
  margin-top: 20px;
}

.content4 {
  margin-bottom: 20px;
}

.header2 {
  color: #9a0002;
  text-align: center;
  font-family: Avenir LT Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}

.header212 {
  color: #9a0002;
  text-align: center;
  font-family: Avenir LT Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.sub2 {
  display: flex;
  /* margin-bottom: 20px; */
  justify-content: center;
}

.hr4 {
  stroke-width: 4px;
  stroke: #fdb714;
  width: 524px;
  height: 0px;
  flex-shrink: 0;
  margin-right: 35px;
  margin-top: 10px;
}

.pataimage {
  margin-right: 0;
  width: 39.726px;
  height: 30.887px;
  transform: rotate(89.488deg);
  flex-shrink: 0;
  margin-top: 0px;
}

.hr5 {
  stroke-width: 4px;
  stroke: #fdb714;
  width: 531px;
  height: 0px;
  flex-shrink: 0;
  margin-bottom: 20px;
  margin-left: 35px;
  margin-top: 10px;
}

.sub3 {
  display: flex;
  /* margin-left:5px; */
  gap: 22px;
}

.sub2 {
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

/* .sub3{
  margin-top: 20px;
} */

.schofees {
  border-radius: 20px;
  background: rgba(154, 0, 2, 0.2);
  width: 367px;
  height: 150px;
  flex-shrink: 0;
}

.schofees .overlay-content1 {
  background: rgba(154, 0, 2, 0.2);
  position: absolute;
  width: 367px;
  height: 150px;
  flex-shrink: 0;
  left: px;
  top: 0.5px;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  flex-shrink: 0;
  border-radius: 20px;
}

.schofees:hover .overlay-content1 {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.schofees:hover .content-details {
  top: 80%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fdb714;
  font-family: Avenir LT Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
  text-transform: uppercase;
}

.fadeIn-bottom {
  top: 80%;
}

.admission {
  width: 173px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(154, 0, 2, 0.2);
}

.admission .overlay-content2 {
  background: rgba(154, 0, 2, 0.2);
  position: absolute;
  width: 173px;
  height: 150px;
  flex-shrink: 0;
  left: px;
  top: 0.5px;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  flex-shrink: 0;
  border-radius: 20px;
}

.admission:hover .overlay-content2 {
  opacity: 1;
}

.admission:hover .content-details {
  top: 80%;
  left: 50%;
  opacity: 1;
}

.request {
  width: 367px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(154, 0, 2, 0.2);
}

.request .overlay-content3 {
  background: rgba(154, 0, 2, 0.2);
  position: absolute;
  width: 367px;
  height: 150px;
  flex-shrink: 0;
  left: px;
  top: 0.5px;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  flex-shrink: 0;
  border-radius: 20px;
}

.request:hover .overlay-content3 {
  opacity: 1;
}

.request:hover .content-details {
  top: 80%;
  left: 50%;
  opacity: 1;
}

.applyadd {
  width: 175px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(154, 0, 2, 0.2);
}

.applyadd .overlay-content4 {
  background: rgba(154, 0, 2, 0.2);
  position: absolute;
  width: 175px;
  height: 150px;
  flex-shrink: 0;
  left: px;
  top: 0.5px;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  flex-shrink: 0;
  border-radius: 20px;
}

.applyadd:hover .overlay-content4 {
  opacity: 1;
}

.applyadd:hover .content-details {
  top: 80%;
  left: 50%;
  opacity: 1;
}
